*.lo
/.deps
/.libs
Makefile
Makefile.in
Makefile.in.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/schema/xamarin.xml
/schema/xamarin.xml.in
/src/config.h
/src/config.h.in
/src/stamp-h1
/xamarin-gtk-theme.pc

